body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  text-align: center;
  width: 90%;
  max-width: 450px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

h2 {
  margin-bottom: 10px;
  color: #333;
}

.option-btn {
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  margin: 8px 0;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.option-btn:hover {
  background-color: #dfe6e9;
}

#next-btn {
  margin-top: 15px;
  padding: 10px 25px;
  background: #6a11cb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#next-btn:hover {
  background: #2575fc;
}

.hide {
  display: none;
}

#result-box {
  padding: 20px;
}

#score {
  font-size: 20px;
  margin: 15px 0;
  color: #2575fc;
}
